@import "./reset.css";
@import "./menu.css";

body {
  font-family: cursive;
  min-height: 100vh;
  background-image: linear-gradient(
    200deg,
    #ffa473,
    #ff8240,
    #a63a00,
    #bf6230,
    #ff5900
  );
}
h1,
h2,
p {
  text-align: center;
}

h2 {
  font-size: 25px;
  margin-bottom: 30px;
  margin-top: 30px;
}

h1 {
  font-size: 35px;
  margin-bottom: 30px;
}

div.footer {
  left: 0;
  bottom: 0;
  text-align: center;
  
}

/* probuy */
section {
  background: #333333;
  color: white;
  border-radius: 1em;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/* index */

.caption-border {
  width: 400px;
  margin: 50px auto 0;
  border: 5px solid #e5bf23;
  background: white;
  padding: 10px;
}
.caption-border img {
  max-width: 100%;
  height: auto;
  display: block;
}
.caption-border figcaption {
  padding: 10px;
  color: white;
  background: #e5bf23;
  text-align: center;
  text-transform: uppercase;
}

p.blocktext {
  width: 400px; /* Ширина слоя */
  margin: 0 auto 50px; /* Выравнивание по центру */
  border: 5px solid #e5bf23;
  background: white;
  padding: 10px;
}

/* raspisanie */

table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  text-align: center;
  background: #333333;
  width: 400px;
  margin: auto;
}
th {
  font-size: 22px;
  font-weight: 300;
  padding: 12px 10px;
  border-bottom: 2px solid #f56433;
  color: #f56433;
  text-align: center;
}
td {
  padding: 10px;
  color: #ffff;
}

/* photo ** news */

.sign {
  width: 400px;
  margin: 50px auto 0;
  border: 5px solid #e5bf23;
  background: white;
  padding: 10px;
}
.sign img {
  margin: 0 auto 10px;
  width: 300;
  height: 250;
  display: block;
}
.sign figcaption {
  padding: 10px;
  color: white;
  background: #e5bf23;
  text-align: center;
  text-transform: uppercase;
}

#center {
  text-align: center;
  color: #ff0000;
  display: block;
  font-size: 20px;
}
