extends ./layout/main

block variables 
  - var title ="index";

block content 
  h2 Моя Биография
  figure.caption-border
      img(src='images/z1.jpg' width='400' height='300')
      figcaption Cнежный барс
  p.blocktext| IRBIS, или снежный леопард — крупное хищное млекопитающее семейства кошачьих, обитающее в горах Центральной Азии.| Ирбиотличается тонким, длинным, гибким телом, относительно короткими лапами, небольшой головой и очень длинным хвостом. Достигая вместе хвостом длины 200—230 см, имеет массу до 55 кг. Окраска меха светлая дымчато-серая с кольцеобразными и сплошными тёмными пятнами.| В силтруднодоступности местообитания и низкой плотности вида до сих пор остаются малоисследованными многие аспекты его биологии.
      
  h2#hobby Мои Увлечения
  figure.caption-border
      img(src='images/z1.jpg' width='400' height='300')
      figcaption Cнежный барс
  p.blocktext| В настоящее время численность ирбисов катастрофически мала — популяция вида в 2003 году по различным оценкам составляла от до 7 тысяч особей, в 2020 году от 2,7 до 3,4 тысяч.| В XX веке он был внесён в Красную книгу МСОП, в Красную книгу России, а также охранные документы других стран. Охота на снежного барса запрещена во всех странах, где он обитает, снежный барс также внесён в приложениI Конвенции CITES (международный запрет на торговлю исчезающими видами животных и их частями).
  include ./includes/footer