body {
  font-family: cursive;
  background-image: linear-gradient(
    200deg,
    #ffa473,
    #ff8240,
    #a63a00,
    #bf6230,
    #ff5900
  );
}

img {
  width: 100% !important;
}
.sim-slider {
  max-width: 1000px;
  min-width: 320px;
  margin: 20px auto;
  padding: 30px 50px;
}

/* General styles */
.sim-slider {
  position: relative;
}

.sim-slider-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}

.sim-slider-element {
  width: 100%;
  transition: opacity 1s ease-in;
  opacity: 0;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  display: block;
}

/* Navigation item styles */
div.sim-slider-arrow-left,
div.sim-slider-arrow-right {
  width: 22px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  opacity: 0.6;
  z-index: 4;
}

div.sim-slider-arrow-left {
  left: 10px;
  top: 40%;
  display: block;
  background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-left.png")
    no-repeat;
}

div.sim-slider-arrow-right {
  right: 10px;
  top: 40%;
  display: block;
  background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-right.png")
    no-repeat;
}

div.sim-slider-arrow-left:hover {
  opacity: 1;
}

div.sim-slider-arrow-right:hover {
  opacity: 1;
}

div.sim-slider-dots {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  text-align: center;
}

span.sim-dot {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  padding: 0;
  display: inline-block;
  cursor: pointer;
}

/* h1,
h2,
p {
  text-align: center;
}

h2 {
  font-size: 25px;
  margin-bottom: 30px;
  margin-top: 30px;
}

h1 {
  font-size: 35px;
  margin-bottom: 30px;
}

div.footer {
  left: 0;
  bottom: 0;
  text-align: center;
}

/* probuy */
/* section {
  background: #333333;
  color: white;
  border-radius: 1em;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
} */

/* index */

/* .caption-border {
  width: 400px;
  margin: 50px auto 0;
  border: 5px solid #e5bf23;
  background: white;
  padding: 10px;
}
.caption-border img {
  max-width: 100%;
  height: auto;
  display: block;
}
.caption-border figcaption {
  padding: 10px;
  color: white;
  background: #e5bf23;
  text-align: center;
  text-transform: uppercase;
}

p.blocktext {
  width: 400px; /* Ширина слоя */
/* margin: 0 auto 50px; /* Выравнивание по центру */
/* border: 5px solid #e5bf23;
  background: white;
  padding: 10px;
} */

/* raspisanie */

/* table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  text-align: center;
  background: #333333;
  width: 400px;
  margin: auto;
}
th {
  font-size: 22px;
  font-weight: 300;
  padding: 12px 10px;
  border-bottom: 2px solid #f56433;
  color: #f56433;
  text-align: center;
}
td {
  padding: 10px;
  color: #ffff;
} */

/* photo ** news */

/* .flex-position {
  column-count: 2;
  display: flex;
  flex-wrap: wrap;
}

.sign {
  width: 400px;
  margin: 50px auto 0;
  border: 5px solid #e5bf23;
  background: white;
  padding: 10px;
}
.sign img {
  margin: 0 auto 10px;
  width: 300;
  height: 250;
  display: block;
}
.sign figcaption {
  padding: 10px;
  color: white;
  background: #e5bf23;
  text-align: center;
  text-transform: uppercase;
}

#center {
  text-align: center;
  color: #ff0000;
  display: block;
  font-size: 20px;
} */
