#navbar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #1e1e1e;
  border-radius: 20px 5px;
  width: 550px;
  text-align: center;
  background-color: #333333;

  li {
    display: inline;
  }

  a {
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 100px;

    &:hover {
      border-radius: 20px 5px;
      background-color: #ffa473;
    }
  }
}
